:root {
  --plyr-color-main: none;
  --plyr-range-fill-background: #980303;
  --plyr-audio-controls-background: none;
  --plyr-audio-control-color: #ffffff;
  --plyr-audio-progress-buffered-background: #ffffff;
  --plyr-progress-loading-size: 10px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  color: white;
}
@function Rem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
@font-face {
  font-family: 'Tuffy';
  src: local('Tuffy'),
  url('~assets/fonts/Tuffy-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Tuffy';
  src: local('Tuffy'),
  url('~assets/fonts/Tuffy-Bold.ttf');
  font-weight: 700;
}
.font-low {
  font-weight: 400;
  font-size: Rem(16);
}
.bold {
  font-weight: 700;
}
html, body {
  width: 100%;
  font-family: 'Tuffy';
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
}
a.nuxt-link-exact-active {
  background: linear-gradient(to bottom right, black 50%, #9803035C 50%);
}
.content {
  background: url("~assets/img/background.png");
  width: 100%;
}